---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import { getPosts } from "../utils/sanity";

const posts = await getPosts();
const meta = {
  title: "Home",
  description: "Welcome to Skin Schema, a blog about skin care",
};
---

<Layout meta={meta}>
  <section class="center">
    {posts.length ? posts.map((post) => <Card post={post} />) : null}
  </section>
</Layout>
