/*
BOX
More info: https://every-layout.dev/layouts/box/#the-generator
*/

.box {
  padding: var(--spacing-s-m);
  color: var(--color-surface-secondary-foreground-color);
  background-color: var(--color-surface-secondary-background-color);
}
