/*
BOX
More info: https://every-layout.dev/layouts/box/#the-generator

*/

.box {
  padding: var(--space-s-m);
  color: var(--color-dark);
  background-color: var(--color-light);
}

.box * {
  color: inherit;
}

.box.invert {
  color: var(--color-light);
  background-color: var(--color-dark);
}
