.reel {
  display: flex;
  block-size: auto;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: var(--color-accent) var(--color-pine-850);
  gap: var(--spacing-s-m);
}

.reel::-webkit-scrollbar {
  block-size: 1rem;
}

.reel::-webkit-scrollbar-track {
  background-color: var(--color-inverse-paper);
}

.reel::-webkit-scrollbar-thumb {
  background-color: var(--color-inverse-paper);
  background-image: linear-gradient(
    var(--color-pine-900) 0,
    var(--color-pine-900) 0.25rem,
    var(--color-inverse-ink) 0.25rem,
    var(--color-inverse-ink) 0.75rem,
    var(--color-pine-900) 0.75rem
  );
}

.reel > * {
  flex: 0 0 auto;
}

.reel > img {
  block-size: 100%;
  flex-basis: auto;
  width: auto;
}

.reel > * + * {
  margin-inline-start: 1rem;
}

.reel.overflowing {
  padding-block-end: 1rem;
}
