---
import { getImage } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';

// TODO: Create better meta tags for home page

import hero from '../assets/2023-Creative-Minds-38-hero.jpg';
import PriceCard from '../components/PriceCard';

const optimizedBackground = await getImage({ src: hero, format: 'webp' });

const options = [
  {
    service: {
      title: 'Photography',
      description:
        'High-quality images showcasing products in a light, airy, and minimalistic style.',
      type: 'Photo',
      packages: [
        { amount: 1, price: '$100', weekTurnaround: 1 },
        { amount: 3, price: '$300', weekTurnaround: 2 },
        { amount: 5, price: '$500', weekTurnaround: 3 },
      ],
    },
  },
  {
    service: {
      title: 'Short form video',
      description:
        'Engaging short videos tailored for Instagram & TikTok, perfect for capturing audience attention quickly.',
      type: 'UGC Video',
      packages: [
        { amount: 1, price: '$200', weekTurnaround: 1 },
        { amount: 3, price: '$500', weekTurnaround: 2 },
        { amount: 5, price: '$700', weekTurnaround: 3 },
      ],
    },
  },
  {
    service: {
      title: 'Inspirational vlog content',
      description:
        'Personalized content that shares lifestyle tips, inspirations, self care routine and day-to-day product usage, connecting on a personal level with the audience.',
      type: 'UGC Video',
      packages: [
        { amount: 1, price: '$300', weekTurnaround: 1 },
        { amount: 3, price: '$600', weekTurnaround: 2 },
        { amount: 5, price: '$800', weekTurnaround: 3 },
      ],
    },
  },
];
---

<Layout
  meta={{
    title: 'Skin Schema | Home',
    description: 'Skin Schema',
  }}
>
  <a href="#main" class="sr-only sr-only-focusable">Skip to content</a>
  <main>
    <Header />
    <div
      class="bg-cover bg-center bg-blend-overlay py-l-xl"
      style={`background-image: url(${optimizedBackground.src}), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));`}
    >
      <div class="wrapper region">
        <h1
          class="mt-zero text-gray-100 tracking-tight text-balance"
          style="max-inline-size: 18ch;"
        >
          Paid partnership with Skin Schema
        </h1>
      </div>
    </div>
    <section class="wrapper" id="main">
      <h2>Rate sheet</h2>
      <ul class="grid" role="list" data-layout="thirds">
        {
          options.map((option) => (
            <PriceCard client:idle service={option.service} />
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
