---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ShortFormExamples from '../components/ShortFormExamples.astro';
import PhotographyExamples from '../components/PhotographyExamples.astro';
import EngagementHighlights from '../components/EngagementHighlights.astro';
import WhoAmI from '../components/WhoAmI.astro';
import CollaborationOptions from '../components/CollaborationOptions.astro';
import Services from '../components/Services.astro';
import Hero from '../components/Hero.astro';
import Contact from '../components/Contact.astro';
import InspirationalExamples from '../components/InspirationalExamples.astro';
---

<Layout
  meta={{
    title: 'Skin Schema finds beauty and serenity in minimalistic self-care.',
    description:
      'Committed to uncovering the best in authentic, minimalistic beauty. Tips, routines, and product reviews for a serene self-care experience.',
  }}
>
  <main>
    <Header />
    <Hero />
    <WhoAmI class="pt-zero" />
    <PhotographyExamples />
    <ShortFormExamples />
    <InspirationalExamples />
    <CollaborationOptions />
    <Services />
    <EngagementHighlights />
    <Contact />
  </main>
</Layout>

<script async src="//www.instagram.com/embed.js"></script>
