---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import EngagementHighlights from '../components/EngagementHighlights.astro';
import WhoAmI from '../components/WhoAmI.astro';
import Hero from '../components/Hero.astro';
---

<Layout
  meta={{
    title: 'Skin Schema finds beauty and serenity in minimalistic self-care.',
    description:
      'Committed to uncovering the best in authentic, minimalistic beauty. Tips, routines, and product reviews for a serene self-care experience.',
  }}
>
  <main>
    <Header />
    <Hero heading="Skin schema" subHeading="content marketing list" />
    <section class="wrapper region flow prose" id="Whats-included">
      <p>
        For years I created content on Instagram hoping brands would reach out
        to me for collaboration opportunities. My content quality only got
        better and better. My engagement grew organically confirming I had
        something of value.
      </p>
      <p>
        After a while, I realized I was a small fish in a big sea, and something
        had to change. I took things in my own hands but asked, "How could I
        stand out?". This is everything I've learned from reaching out to brands
        and tracking engagements.
      </p>
      <div class="box w-fit mx-auto text-center">
        <h2>What's included</h2>
      </div>
      <p>
        You'll be getting a full Notion template you can duplicate and make your
        own. You can get a Notion account for free and start using this today.
        Prefer not to use Notion? You'll also get a PDF.
      </p>
      <h3>Attributes</h3>
      <ul>
        <li>Brand name</li>
        <li>Website</li>
        <li>Niche</li>
        <li>Brand attributes</li>
        <li>Hero product</li>
        <li>Email address</li>
        <li>Status</li>
        <li>Reached out date</li>
      </ul>
      <h3>Bonus</h3>
      <p>
        Use the New Client Template to keep notes on the each brand and track
        your invoices. Mark down who your contact is, what status the contract
        is in, the amount, the date when your sent your content, and the payment
        due date.
      </p>
    </section>
    <WhoAmI />
    <EngagementHighlights />
  </main>
</Layout>
