---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
---

<Layout
  meta={{
    title: 'Skin Schema Instagram skincare influencer',
    description: 'Skin Schema',
  }}
>
  <main>
    <Header />
    <Hero
      heading="Thank you!"
      subHeading="Thank you for your note! I'm SO excited to connect. I'll be in touch within the next business day so we can talk about your ideal partnership 😊"
    />
  </main>
</Layout>
