---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
---

<Layout
  meta={{
    title: 'Skin Schema Instagram skincare influencer',
    description: 'Skin Schema',
  }}
>
  <main>
    <Header />
    <Hero heading="Thank you!" />
    <section class="wrapper region flow prose" id="main">
      <p>
        I'll be in touch within the next 24 business hours to discuss more in
        details.
      </p>
    </section>
  </main>
</Layout>
