---
import Header from './Header.astro';
const { title } = Astro.props;
---

<div>
  <Header />
  <div class="region wrapper">
    <div class="box flex flex-col justify-center flow prose text-center">
      <h1 class="mx-auto">{title}</h1>
      <h2 class="font-weight-base mx-auto">Natural beauty routine tips</h2>
    </div>
  </div>
</div>
