---
import Header from './Header.astro';
const { title } = Astro.props;
---

<div>
  <Header />
  <div class="wrapper">
    <h1>{title}</h1>
    <h2 class="mx-auto mt-3xs text-step-2 text-gray-800 font-bold">
      Natural beauty routine tips
    </h2>
  </div>
</div>
