---
import Header from './Header.astro';
const { title } = Astro.props;
---

<div>
  <Header />
  <div class="region wrapper">
    <div class="box text-center">
      <h1 class="mx-auto mt-zero">{title}</h1>
      <h2 class="font-weight-base mx-auto mt-3xs">
        Natural beauty routine tips
      </h2>
    </div>
  </div>
</div>
