<div class="wrapper flow prose" id="Terms">
  <div class="box w-fit mx-auto md:text-center">
    <div class="box w-fit mx-auto text-center">
      <h3>Collaboration terms</h3>
    </div>
    <p class="text-step-00">
      Payment due NET 30 upon invoice. Invoices will be sent via email through
      Stripe. All services include one revision.
    </p>
    <h4>Cancelation policy</h4>
    <p class="text-step-00">
      Full refund if canceled within 48 hours of making a booking; 50% refund if
      canceled within one week of making a booking.
    </p>
  </div>
</div>
