---

---

<section class="wrapper region flow prose" id="ColaborationOptions">
  <div class="box w-fit mx-auto text-center">
    <h2>Collaboration options</h2>
    <p>
      All of my services come in two options - either as content I create for
      your own use, or content I create and share to my Skin Schema feed.
    </p>
  </div>
  <ul class="grid" data-layout="50-50" role="list">
    <li class="box flow prose border border-gray-600">
      <h3 class="mt-zero text-step-000 uppercase font-black text-gray-1100">
        Option 1
      </h3>
      <h4 class="mt-2xs text-step-2">For Brand Use</h4>
      <p class="text-step-00">
        Showcase your products in beautifully curated content designed
        exclusively for your social media feeds. Each piece will be
        professionally planned, shot, and edited to feel minimal, airy, and
        elegant. The finished product will be delivered to you in multiple
        formats tailored for use across various platforms. †
      </p>
    </li>
    <li class="box flow prose border border-gray-600">
      <h3 class="mt-zero text-step-000 uppercase font-black text-gray-1100">
        Option 2
      </h3>
      <h4 class="mt-2xs text-step-2">Shared by Skin Schema</h4>
      <p class="text-step-00">
        Let your products shine on Skin Schema's Instagram feed, reaching a
        highly engaged audience that values my genuine beauty insights. This
        option is perfect for brands looking to benefit from the authentic
        connection and trust I've earned with my followers, who regularly turn
        to me for skincare opinions and recommendations.
      </p>
    </li>
  </ul>
  <p class="text-center mx-auto text-step-000 text-gray-1000">
    † You will own the rights to post this content anywhere, anytime, forever -
    the only requirement is that you tag Skin Schema's Instagram account when
    you do.
  </p>
</section>
