---
const pathname = Astro.url.pathname;
import type { ContactFormProps } from '../lib';

interface Props extends ContactFormProps {}

const { content } = Astro.props;

const title = content?.title ? content?.title : "Let's connect";
const description = content?.description
  ? content?.description
  : `If our approach to beauty and aesthetics align, I'd love to talk more. Just pop your details below, letting me know more about how you'd like to work together. I'll be in touch within 24 hours of receiving your message so we can discuss further. 😊`;
const message = content?.message
  ? content?.message
  : 'How would you like to work together?';
---

<section class="wrapper region flow prose" id="Contact">
  <div class="content">
    <div class="box w-fit mx-auto text-center">
      <h2>{title}</h2>
      <p>
        {description}
      </p>
    </div>
    <div class="border border-gray-600 flex flex-col justify-between drop">
      <div class="box">
        <form
          name="main"
          netlify-honeypot="bot-field"
          method="POST"
          data-netlify="true"
          action="/thank-you/"
        >
          <div class="hidden">
            <input
              type="hidden"
              name="subject"
              value={`🤖 Form submission: skinschema.com${pathname}`}
            />
            <span>
              <label for="bot-field">Do you like delicious treats?</label>
              <input
                name="bot-field"
                id="bot-field"
                class="border-gray-700 border-1 border-solid"
              />
            </span>
          </div>
          <div class="flex flex-col space-y-m">
            <span class="stack mt-zero">
              <label class="font-mono font-semibold text-step-00" for="name"
                >Name</label
              >
              <input
                id="name"
                name="name"
                type="text"
                required
                class="border-gray-700 border-1 border-solid"
              />
            </span>
            <span class="stack">
              <label class="font-mono font-semibold text-step-00" for="email"
                >Email</label
              >
              <input
                id="email"
                name="email"
                type="email"
                required
                class="border-gray-700 border-1 border-solid"
              />
            </span>
            <span class="stack">
              <label class="font-mono font-semibold text-step-00" for="message"
                >{message}</label
              >
              <textarea
                name="message"
                id="message"
                rows="6"
                required
                class="border-gray-700 border-1 border-solid"></textarea>
            </span>
            <button type="submit" class="button max-w-full">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
