---
import EngagementCards from './EngagementCards.astro';
---

<section class="wrapper region flow" id="EngagementHighlights">
  <div class="box w-fit mx-auto text-center">
    <h2>Engagement highlights</h2>
  </div>
  <EngagementCards />
</section>
