---
import { navigationLinks } from '../lib';
---

<header class="box">
  <div
    class="cluster font-mono font-black uppercase text-step-000"
    style="--cluster-horizontal-alignment: space-between;"
  >
    <a href="/" class="link">Skin Schema</a>
    <nav>
      <ul role="list" class="cluster justify-center" style="margin-block: 0;">
        {
          navigationLinks.map((link) => (
            <li>
              <a href={link.href} class="link">
                {link.text}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
