<header class="box" style="background: black;">
  <div class="cluster">
    <nav>
      <ul
        role="list"
        class="cluster justify-center font-weight-emphasis font-display uppercase"
      >
        <li class="button"><a href="/">Home</a></li>
      </ul>
    </nav>
  </div>
</header>
