<header class="box">
  <div
    class="cluster font-mono font-bold uppercase text-step-000"
    style="--cluster-horizontal-alignment: space-between;"
  >
    <a href="/" class="button">Skin Schema</a>
    <nav>
      <ul role="list" class="cluster justify-center" style="margin-block: 0;">
        <li>
          <a href="/skincare-instagram-paid-partnership/" class="button"
            >Paid partnership</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
