<header class="box">
  <div class="cluster">
    <nav>
      <ul
        role="list"
        class="cluster justify-center font-mono uppercase"
        style="font-weight: 75; margin-block: 0;"
      >
        <li class="button"><a href="/">Skin Schema</a></li>
      </ul>
    </nav>
  </div>
</header>
