<header class="box">
  <div
    class="cluster font-mono font-black uppercase text-step-000"
    style="--cluster-horizontal-alignment: space-between;"
  >
    <a href="/" class="link">Skin Schema</a>
    <nav>
      <ul role="list" class="cluster justify-center" style="margin-block: 0;">
        <li>
          <a href="/#CollaborationOptions" class="link">Options</a>
        </li>
        <li>
          <a href="/#Services" class="link">Services</a>
        </li>
        <li>
          <a href="/blog/" class="link">Blog</a>
        </li>
        <li>
          <a href="/#Contact" class="link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
