---
interface Props {
  heading?: string;
  subHeading?: string;
}

const { heading, subHeading } = Astro.props;
---

<div class="wrapper relative overflow-clip" style="--gutter: 0px;">
  <video autoplay loop muted playsinline class="min-w-zero max-w-full">
    <source src="/media/skin-schema-hero.webm" type="video/webm" />
    <source src="/media/skin-schema-hero.mp4" type="video/mp4" />
  </video>
  <div
    class="wrapper region z-20 absolute left-[0px] bottom-[10px] w-full h-full bg-gray-1200 bg-opacity-40 flow"
    style="--gutter: var(--space-s-l);"
  >
    <h1
      class="text-step-1 md:text-step-5 mt-zero text-gray-100 tracking-tight text-balance font-mono"
      style="max-inline-size: 18ch;"
    >
      {
        heading
          ? heading
          : 'Authentic skincare content that builds customer trust'
      }
    </h1>
    <a href="/#Contact" class="button reverse mx-auto"> Reach out </a>
    {
      subHeading && (
        <h2
          class="text-gray-100 tracking-tight text-balance text-step-2"
          style="max-inline-size: 18ch;"
        >
          {subHeading}
        </h2>
      )
    }
  </div>
</div>
