---

---

<section class="wrapper pb-m flow prose" id="RateCard">
  <div class="box w-fit mx-auto text-center">
    <h3>Rate Card</h3>
  </div>
  <div
    class="border border-gray-600 flex flex-col justify-between max-w-3xl mx-auto drop rounded-2xl overflow-clip"
  >
    <table-saw class="box" text-align="center">
      <table class="w-full mx-auto text-left md:text-center">
        <thead>
          <th></th>
          <th class="uppercase w-1/4 px-xs py-s border-b border-b-gray-600"
            >Photo</th
          >
          <th class="uppercase w-1/4 px-xs py-s border-b border-b-gray-600"
            >Short</th
          >
          <th class="uppercase w-1/4 px-xs py-s border-b border-b-gray-600"
            >Inspiraton</th
          >
        </thead>
        <tbody class="divide-y divide-gray-600">
          <tr>
            <th class="uppercase py-s text-left">Assets</th>
            <td class="py-s">1</td>
            <td class="py-s">1</td>
            <td class="py-s">1</td>
          </tr>
          <tr>
            <th class="uppercase py-s text-left">Turnaround</th>
            <td class="py-s">2 weeks</td>
            <td class="py-s">2 weeks</td>
            <td class="py-s">2 weeks</td>
          </tr>
          <tr>
            <th class="uppercase py-s text-left">Revisions</th>
            <td class="py-s">1</td>
            <td class="py-s">1</td>
            <td class="py-s">1</td>
          </tr>
          <tr>
            <th class="uppercase py-s text-left">Length</th>
            <td class="py-s">N/A</td>
            <td class="py-s">Up to 12 seconds</td>
            <td class="py-s">Up to 20 seconds</td>
          </tr>
          <tr>
            <th class="uppercase py-s text-left">UGC</th>
            <td class="py-s font-bold">$125</td>
            <td class="py-s font-bold">$250</td>
            <td class="py-s font-bold">$375</td>
          </tr>
          <tr>
            <th class="uppercase py-s text-left">Skin Schema</th>
            <td class="py-s font-bold">$200</td>
            <td class="py-s font-bold">$315</td>
            <td class="py-s font-bold">$440</td>
          </tr>
        </tbody>
      </table>
    </table-saw>
  </div>
</section>

<script src="@zachleat/table-saw/table-saw.js"></script>
