---

---

<section class="wrapper region flow prose" id="RateCard">
  <div class="box w-fit mx-auto text-center">
    <h2>Rate Card</h2>
  </div>
  <table-saw breakpoint="(max-width: 760px)">
    <table class="w-full mx-auto text-left md:text-center">
      <thead>
        <th></th>
        <th class="w-1/4 px-xs py-s">Photo</th>
        <th class="w-1/4 px-xs py-s">Short</th>
        <th class="w-1/4 px-xs py-s">Inspiraton</th>
      </thead>
      <tbody class="divide-y divide-blue-vivid-800">
        <tr>
          <th class="py-s text-left">Assets</th>
          <td class="py-s">1</td>
          <td class="py-s">1</td>
          <td class="py-s">1</td>
        </tr>
        <tr>
          <th class="py-s text-left">Turnaround</th>
          <td class="py-s">2 weeks</td>
          <td class="py-s">2 weeks</td>
          <td class="py-s">2 weeks</td>
        </tr>
        <tr>
          <th class="py-s text-left">Revisions</th>
          <td class="py-s">1</td>
          <td class="py-s">1</td>
          <td class="py-s">1</td>
        </tr>
        <tr>
          <th class="py-s text-left">Length</th>
          <td class="py-s">N/A</td>
          <td class="py-s">Up to 12 seconds</td>
          <td class="py-s">Up to 20 seconds</td>
        </tr>
        <tr>
          <th class="py-s text-left">Brand</th>
          <td class="py-s">$125</td>
          <td class="py-s">$250</td>
          <td class="py-s">$375</td>
        </tr>
        <tr>
          <th class="py-s text-left">Skin Schema</th>
          <td class="py-s">$200</td>
          <td class="py-s">$315</td>
          <td class="py-s">$440</td>
        </tr>
      </tbody>
    </table>
  </table-saw>
</section>

<script src="@zachleat/table-saw/table-saw.js"></script>
