---
import PriceCard, {
  type Props as PriceCardProps,
} from '../components/PriceCard';
import Bundle from '../components/Bundle';
import { options } from '../lib';
---

<section class="wrapper region flow prose" id="Services">
  <div class="box w-fit mx-auto text-center">
    <h2>Services</h2>
  </div>
  <ul class="grid" role="list" data-layout="thirds">
    {
      options.map((option: PriceCardProps) => (
        <PriceCard client:idle service={option.service} />
      ))
    }
  </ul>
  <div class="box w-fit mx-auto text-center">
    <h3>Skin Schema Bundle</h3>
  </div>
  <Bundle client:idle />
  <div class="box w-fit mx-auto md:text-center" id="Addons">
    <h3>Add-ons</h3>
    <ul class="cluster" style="--gutter: var(--space-xs-s)">
      <li
        class="border border-gray-600 flex flex-col justify-between w-fit mx-auto drop rounded-full overflow-clip px-2xs py-3xs"
      >
        Voice over
      </li>
      <li
        class="border border-gray-600 flex flex-col justify-between w-fit mx-auto drop rounded-full overflow-clip px-2xs py-3xs"
      >
        Ad usage rights
      </li>
      <li
        class="border border-gray-600 flex flex-col justify-between w-fit mx-auto drop rounded-full overflow-clip px-2xs py-3xs"
      >
        In-store usage rights
      </li>
      <li
        class="border border-gray-600 flex flex-col justify-between w-fit mx-auto drop rounded-full overflow-clip px-2xs py-3xs"
      >
        Photo RAW files
      </li>
      <li
        class="border border-gray-600 flex flex-col justify-between w-fit mx-auto drop rounded-full overflow-clip px-2xs py-3xs"
      >
        Revisions
      </li>
      <li
        class="border border-gray-600 flex flex-col justify-between w-fit mx-auto drop rounded-full overflow-clip px-2xs py-3xs"
      >
        Content strategy
      </li>
      <li
        class="border border-gray-600 flex flex-col justify-between w-fit mx-auto drop rounded-full overflow-clip px-2xs py-3xs"
      >
        Consultations
      </li>
      <li
        class="border border-gray-600 flex flex-col justify-between w-fit mx-auto drop rounded-full overflow-clip px-2xs py-3xs"
      >
        Training sessions
      </li>
      <li
        class="border border-gray-600 flex flex-col justify-between w-fit mx-auto drop rounded-full overflow-clip px-2xs py-3xs"
      >
        Equiptment &amp; tech setup
      </li>
    </ul>
  </div>
  <div class="box w-fit mx-auto md:text-center" id="Terms">
    <h3>Collaboration terms</h3>
    <p class="text-step-00">
      Payment due NET 30 upon invoice. Invoices will be sent via email through
      Stripe. All services include one revision.
    </p>
    <h4>Cancelation policy</h4>
    <p class="text-step-00">
      Full refund if canceled within 48 hours of making a booking; 50% refund if
      canceled within one week of making a booking.
    </p>
  </div>
</section>
