---
import PriceCard, {
  type Props as PriceCardProps,
} from '../components/PriceCard';
import { options } from '../lib';
---

<section class="wrapper region flow prose" id="Services">
  <div class="box w-fit mx-auto text-center">
    <h2>Services</h2>
  </div>
  <ul class="grid" role="list" data-layout="thirds">
    {
      options.map((option: PriceCardProps) => (
        <PriceCard client:idle service={option.service} />
      ))
    }
  </ul>
</section>
