---
import PriceCard, {
  type Props as PriceCardProps,
} from '../components/PriceCard';
import Bundle from '../components/Bundle';
import { options } from '../data';
---

<section class="wrapper region flow prose" id="Services">
  <div class="box w-fit mx-auto text-center">
    <h2>Services</h2>
  </div>
  <ul class="grid" role="list" data-layout="thirds">
    {
      options.map((option: PriceCardProps) => (
        <PriceCard client:idle service={option.service} />
      ))
    }
  </ul>
  <div class="box w-fit mx-auto text-center">
    <h3>Skin Schema Bundle</h3>
  </div>
  <Bundle client:idle />
  <div class="box w-fit mx-auto md:text-center" id="Terms">
    <h3>Collaboration terms</h3>
    <p class="text-step-00">
      Invoices will be issued by
      <svg viewBox="0 0 40 40" fill="currentColor" class="icon">
        <g id="HM-Logo"
          ><path
            d="M25.958,36.376c-9.025,3.291 -19.003,-1.372 -22.288,-10.416c-3.284,-9.045 1.368,-19.045 10.393,-22.337c9.024,-3.292 19.001,1.373 22.286,10.416c3.285,9.044 -1.368,19.046 -10.391,22.337m13.174,-18.123l0.23,-3.349l-1.871,-2.785l-0.867,-3.242l-2.672,-2.024l-1.871,-2.784l-3.183,-1.045l-2.671,-2.026l-3.349,0.048l-3.183,-1.046l-3.152,1.134l-3.348,0.048l-2.614,2.098l-3.153,1.134l-1.792,2.836l-2.614,2.099l-0.776,3.265l-1.793,2.836l0.324,3.34l-0.777,3.266l1.388,3.055l0.323,3.34l2.303,2.437l1.388,3.056l2.968,1.556l2.302,2.437l3.312,0.507l2.966,1.556l3.296,-0.599l3.311,0.506l2.923,-1.638l3.295,-0.599l2.234,-2.501l2.922,-1.639l1.303,-3.093l2.234,-2.501l0.229,-3.349l1.303,-3.093l-0.868,-3.241Z"
          ></path><path
            d="M23.662,17.157c-1.188,0.433 -1.854,1.088 -2.342,1.708c0.206,0.417 0.38,0.822 0.556,1.307l2.918,8.035l-0.037,0.014l-2.675,0.976l-0.038,0.013l-3.023,-8.325c-0.45,-1.238 -1.282,-1.568 -2.566,-1.099c-1.259,0.458 -2.007,1.118 -2.529,1.721l3.421,9.416l-2.713,0.99l-7.545,-20.775c-2.749,4.034 -3.588,9.289 -1.793,14.229c2.957,8.146 11.943,12.345 20.07,9.381c2.082,-0.759 3.903,-1.917 5.415,-3.353l-4.835,-13.312c-0.415,-1.141 -1.218,-1.315 -2.284,-0.926"
          ></path><path
            d="M14.654,5.251c-2.082,0.76 -3.903,1.917 -5.414,3.354l3.919,10.789c0.742,-0.903 1.684,-1.631 2.919,-2.081c0.072,-0.026 0.138,-0.045 0.208,-0.07l-0.001,-0.006c1.273,-0.464 2.243,-0.494 2.981,-0.213c0.21,0.065 0.407,0.149 0.592,0.254c0.809,-1.156 2.087,-2.106 3.402,-2.586c2.858,-1.042 4.561,0.096 5.397,2.402l4.274,11.767c2.749,-4.034 3.588,-9.289 1.794,-14.229c-2.958,-8.144 -11.944,-12.346 -20.071,-9.381"
          ></path>
        </g>
      </svg>
      <a
        href="https://hoverboardmedia.com"
        target="_blank"
        aria-label="Opens in a new tab">Hoverboard Media</a
      >, and are due NET 30 upon completion (either upon receiving assets for
      brand use or posting to Skin Schema's feed). Invoices will be sent via
      email through FreshBooks, and payments can be made via credit card or bank
      transfer directly on the invoice. All services include one revision.
    </p>
    <h4>Cancelation policy</h4>
    <p class="text-step-00">
      Full refund if canceled within 48 hours of making a booking; 50% refund if
      canceled within one week of making a booking.
    </p>
  </div>
</section>
