---
import { Picture } from 'astro:assets';
import selfie from '../assets/photograph-of-skin-schema.jpg';
---

<section class="wrapper region flow prose" id="main">
  <ul class="grid" data-layout="50-50" role="list">
    <li class="flex flex-col justify-start items-center flow prose">
      <h2 class="-rotate-2 mb-xl">
        <mark><span>Hi, I'm Kseniya 👋🏻</span></mark>
      </h2>
      <p>
        I'm an experienced photographer and videographer, and created Skin
        Schema to showcase my passion for beauty and skincare through a lens of
        authenticity and elegance.
      </p>
      <details-utils close-click-outside class="self-start">
        <details>
          <summary class="my-xs">Learn more about me...</summary>
          <section>
            <p>
              Having developed a loyal, trusting following, I'm now opening both
              my experience and feed to collaboration opportunities with a
              select number of partners. Whether you want to lift your own
              brand's social media presence with high-quality, captivating
              visuals, or engage with my devoted, growing beauty audience, I
              offer the below bespoke collaboration options. Let's create
              stunning content together.
            </p>
            <p>
              If you'd like to discuss any of these options in more detail, <a
                href="/#Contact"
              >
                send me a note below
              </a> or just pop me a DM on Instagram.
            </p>
          </section>
        </details>
      </details-utils>
    </li>
    <li class="justify-center items-center">
      <Picture
        src={selfie}
        widths={[300, 800, selfie.width]}
        sizes={`(max-width: 300px) 300px, (max-width: 800px) 800px,  ${selfie.width}px`}
        alt="Photograph of the creator of Skin Schema"
        class="h-auto max-w-screen-sm object-cover"
        quality={80}
        format="avif"
        decoding="sync"
        loading="eager"
      />
    </li>
  </ul>
</section>
<script src="@zachleat/details-utils/details-utils.js"></script>
