---
import { Picture } from 'astro:assets';
import selfie from '../assets/photograph-of-skin-schema.jpg';

const { class: className } = Astro.props;
---

<section
  class={`wrapper region flow prose ${className ? className : ''}`}
  id="main"
>
  <ul class="grid" data-layout="50-50" role="list">
    <li class="flex flex-col justify-start items-center flow prose">
      <h2 class="-rotate-2 mb-xl">
        <mark><span>Meet Kseniya 👋🏻</span></mark>
      </h2>
      <p class="text-step-2 leading-snug">
        I'm an experienced photographer and videographer, and created Skin
        Schema to showcase my passion for beauty and skincare through a lens of
        authenticity and elegance.
      </p>
      <p class="text-step-0 leading-snug">
        Having developed a loyal, trusting following, I'm now opening both my
        expertise and feed to collaboration opportunities with select brand
        partners.
      </p>
      <p class="text-step-0 leading-snug">
        Skin Schema creates engaging, visually stunning photography and
        short-form videos that skincare customers love. Each piece of content is
        thoughtfully crafted to feel genuine, inspire trust, and boost your
        brand's connection with real people.
      </p>
      <details-utils close-click-outside class="self-start">
        <details>
          <summary class="my-xs font-mono font-semibold"
            >Learn more about me...</summary
          >
          <section>
            <p class="text-step-0">
              Having developed a loyal, trusting following, I'm now opening both
              my experience and feed to collaboration opportunities with a
              select number of partners. Whether you want to lift your own
              brand's social media presence with high-quality, captivating
              visuals, or engage with my devoted, growing beauty audience, I
              offer the below bespoke collaboration options. Let's create
              stunning content together.
            </p>
            <p class="text-step-0">
              If you'd like to discuss any of these options in more detail, <a
                href="/#Contact"
              >
                send me a note below
              </a> or just <a
                href="https://www.instagram.com/skinschema/"
                target="_blank"
                aria-label="Opens in new tab">pop me a DM on Instagram</a
              >.
            </p>
          </section>
        </details>
      </details-utils>
    </li>
    <li class="flex justify-center items-center">
      <Picture
        src={selfie}
        widths={[300, 800, selfie.width]}
        sizes={`(max-width: 300px) 300px, (max-width: 800px) 800px,  ${selfie.width}px`}
        alt="Photograph of the creator of Skin Schema"
        class="h-auto max-w-screen-sm object-cover"
        quality={80}
        format="avif"
        decoding="sync"
        loading="eager"
      />
    </li>
  </ul>
  <div class="box w-fit mx-auto text-center">
    <h2>Brands partner with me because:</h2>
  </div>
  <ul class="grid" role="list" data-layout="thirds">
    <li
      class="border border-gray-600 flex flex-col justify-between drop rounded-2xl overflow-clip text-center"
    >
      <div class="box flow prose">
        <h3 class="mt-zero text-step-1">Authenticity at scale</h3>
        <p>
          Professional-quality visuals with the authentic feel of real customer
          experiences.
        </p>
      </div>
    </li>
    <li
      class="border border-gray-600 flex flex-col justify-between drop rounded-2xl overflow-clip text-center"
    >
      <div class="box flow prose">
        <h3 class="mt-zero text-step-1">Time and resource savings</h3>
        <p>
          I handle ideation, production, and editing—freeing your team to focus
          on strategy.
        </p>
      </div>
    </li>
    <li
      class="border border-gray-600 flex flex-col justify-between drop rounded-2xl overflow-clip text-center"
    >
      <div class="box flow prose">
        <h3 class="mt-zero text-step-1">Proven results</h3>
        <p>
          My content consistently delivers increased engagement, builds
          credibility, and helps skincare brands convert followers into loyal
          customers.
        </p>
      </div>
    </li>
  </ul>
</section>
<script src="@zachleat/details-utils/details-utils.js"></script>
