/* 
  Global styles 

  Low-specificity, global styles that apply to the whole 
  project: https://cube.fyi/css.html
*/

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-dark);
  background: var(--color-light);
  font-size: var(--step-0);
  font-family: var(--font-base);
  font-weight: var(--font-base-weight);
  line-height: var(--line-height);
  letter-spacing: var(--tracking);
  position: relative;
}

/* Base typesetting */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  line-height: var(--line-height-small);
  letter-spacing: var(--tracking-s);
  font-weight: var(--font-emphasis-weight);
}

h1 {
  font-size: var(--step-6);
}

h2 {
  font-size: var(--step-6);
  color: var(--skin300);
}

h3 {
  font-size: var(--step-5);
}

h4 {
  font-size: var(--step-4);
}

h5 {
  font-size: var(--step-0);
}

/* Set line lengths */
p,
li,
blockquote:not([class]) {
  max-inline-size: 50ch;
}

h1,
h2,
h3 {
  max-inline-size: 30ch;
}

/* More generic elements */
blockquote:not([class]) {
  font-size: var(--step-1);
  margin-inline-start: var(--space-m);
}

/* Markdown blockquuote:not([class])s aren't ideal, so we're presuming the person quoted is the last p */
blockquote:not([class]) p:last-of-type {
  font-family: var(--font-base);
  font-size: var(--step-1);
  font-weight: var(--font-emphasis-weight);
}

svg {
  height: 2ex;
  width: auto;
  flex: none;
}

[role="list"] {
  padding: 0;
}

/* Base interactive elements */

a {
  color: currentcolor;
}

a:hover {
  text-decoration: none;
}

/* Baseline for default links */
a:not([class]) {
  /* Relatively sized thickness and offset */
  text-decoration-thickness: max(0.08em, 1px);
  text-underline-offset: 0.15em;
}

/* Scroll padding allowance below focused elements 
  to ensure they are clearly in view */
:focus {
  scroll-padding-block-end: 8vh;
}

:focus-visible {
  --outline-size: max(2px, 0.15em);

  outline: var(--outline-width, var(--outline-size)) var(--outline-style, solid)
    var(--outline-color, currentColor);
  outline-offset: var(--outline-offset, var(--outline-size));
}

/* Scroll padding allowance above anchor links */
:target {
  scroll-padding-block-start: 2rem;
}

main:focus {
  outline: none;
}

/* Base selection styles that invert whatever colours are rendered */
::selection {
  background: var(--color-dark);
  color: var(--color-light);
}

form > p {
  display: flex;
  flex-flow: column nowrap;
}

form > p label {
  margin-block-end: 0.5rem;
  margin-inline-end: 0.5rem;
}

input,
textarea {
  border: 1px solid var(--gray800);
  padding-block: var(--space-2xs);
  padding-inline: var(--space-xs);
}

input:focus,
textarea:focus {
  outline: 2px solid var(--gray1100);
}

/* Gallery */

.gallery img,
.gallery picture,
.gallery source {
  border-radius: var(--border-radius);
  /* box-shadow: 0px 10px 32px -3px rgba(0, 0, 0, 0.1); */
}
.gallery img:hover,
.gallery picture:hover,
.gallery source:hover {
  box-shadow: 0px 10px 32px -3px rgba(0, 0, 0, 0.1);
  transform: scale(1.025);
  transition: var(--transition-base);
}

.gallery img:not(:hover),
.gallery picture:not(:hover),
.gallery source:not(:hover) {
  transition: var(--transition-base);
}

/* Footer */

footer {
  color: var(--gray200);
}

footer small {
  font-size: var(--step--2);
}

footer a,
footer a:visited {
  text-decoration: none;
  transition: var(--transition-base);
}
footer a:hover,
footer a:focus,
footer a:active {
  color: var(--gray700);
  text-decoration: none;
}
