/* Button */

.button {
  display: block;
  max-width: fit-content;
  color: var(--color-gray-200);
  background-color: var(--color-gray-1200);
  border: none;
  font-size: var(--size-step-0);
  font-weight: var(--font-semibold);
  font-family: var(--font-mono);
  padding-block: var(--space-2xs);
  padding-inline: var(--space-l);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border-radius: 0.75rem;
}
.button:hover,
.button:focus,
.button:active {
  background-color: var(--color-skin-100);
  color: var(--color-gray-1200);
}
.button:focus {
  outline: 2px solid var(--color-gray-900);
}

.button:disabled {
  background-color: var(--color-gray-300);
  color: var(--color-gray-700);
}
.button:disabled:hover {
  background-color: var(--color-gray-300);
  color: var(--color-gray-800);
}
