/* Outcomes mask */
.infinite-scroll-mask {
  mask-image: linear-gradient(
    to right,
    transparent 0,
    currentColor 128px,
    currentColor calc(100% - 200px),
    transparent 100%
  );
}

/* Animation */
.animate-infinite-scroll {
  animation: infinite-scroll 60s linear infinite;
}

@keyframes infinite-scroll {
  to {
    transform: translateX(calc(-100% - var(--spacing-l)));
  }
}
