.link {
  text-decoration-line: none;
  text-decoration-thickness: max(0.08em, 1px);
  text-underline-offset: 0.15em;
}

.link:hover {
  text-decoration-line: underline;
}

.link:visited {
  color: var(--color-gray-1200);
}
