/* @font-face here */
/* Normal */
@font-face {
  font-family: 'Geist';
  src: url('/fonts/geist/GeistVariableVF.woff2') format('woff2');
  font-display: swap;
  font-weight: 50;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/geist/GeistVariableVF.woff2') format('woff2');
  font-display: swap;
  font-weight: 75;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/geist/GeistVariableVF.woff2') format('woff2');
  font-display: swap;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/geist/GeistVariableVF.woff2') format('woff2');
  font-display: swap;
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/geist/GeistVariableVF.woff2') format('woff2');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/geist/GeistVariableVF.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/geist/GeistVariableVF.woff2') format('woff2');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/geist/GeistVariableVF.woff2') format('woff2');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/geist/GeistVariableVF.woff2') format('woff2');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/geist/GeistVariableVF.woff2') format('woff2');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

/* Mono */
@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/geist/GeistMonoVariableVF.woff2') format('woff2');
  font-display: swap;
  font-weight: 75;
  font-style: normal;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/geist/GeistMonoVariableVF.woff2') format('woff2');
  font-display: swap;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/geist/GeistMonoVariableVF.woff2') format('woff2');
  font-display: swap;
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/geist/GeistMonoVariableVF.woff2') format('woff2');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/geist/GeistMonoVariableVF.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/geist/GeistMonoVariableVF.woff2') format('woff2');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/geist/GeistMonoVariableVF.woff2') format('woff2');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/geist/GeistMonoVariableVF.woff2') format('woff2');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/geist/GeistMonoVariableVF.woff2') format('woff2');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}
